[Unit]
Description=KNX Cache Daemon
After=network.target knxd.service


[Service]
ExecStart=/usr/bin/knxcached
User=knxd
Group=knxd
Type=simple

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target network-online.target
